.wrapper{
  display: flex;
}

.main_chat{
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}
.chat_header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.group-name{
  font-size: 24px;
  color: #333;
}
.btn-close{
  padding: 20px;
  border: 1px solid darkred;
}
.btn-close a{
  text-decoration: none;
  color: darkred;
}
.chat_center{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0px 40px;
  overflow: scroll;
}
.messages{
  margin-bottom: 40px;
}
.info{
  display: flex;
  margin: 10px 0;
}
.user_name{
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}
.post_time{
  font-size: 12px;
  color: #999;
}
.post_message{
  font-size: 14px;
  color: #434A54;
  
}
.chat_footer{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.form-input{
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.post_form{
  border: none;
  flex: 1;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}
.send_button{
  border: none;
  height: 50px;
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden{
  display: none;
}

.side_bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side_header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.create_chat a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}
.rooms{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 0 40px;
}
.room a{
  color: white;
  text-decoration: none;
  
}